*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;

}
html,
body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    width: 100%;
    height: 100%;

}
#left{
    position: relative;
    width: 40%;
    height: 100%;

}
#lnav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;

}
#lnavr{
    display: flex;
    align-items: center;
}
#lnavr a{

    margin-right: 20px;
    color: #000;
    font-weight: 4000;
    text-decoration: none;
}
#right{
    width: 60%;
    height: 100%;
    background-color: white;
}
#left #textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}

#left #textcenter h1{
    font-size: 90px;
    font-weight: 900;
}

#textcenter p{
    opacity: 6;
    font-size: 12px;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
#left #textcenter a{
    text-decoration: none;
    color: #000;
    border-bottom:1px solid black ;
    padding-bottom: 5px;

}
#rtop{
    display: flex;
    width: 100%;
    height: 50%;
    background-color: royalblue;
}
#rbottom{
    width: 100%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1611076351766-d561d39b6af3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#rtopleft{
    width: 55%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1466781783364-36c955e42a7f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#rtopright{
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1559056390-661e768c461f?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
@media(max-width: 500px){
    #main { 
        flex-direction: column;

    }
    #main #left{
        width: 100%;
        /* position: relative; */
    }
    #main #right{
        width: 100%;
    }
    /* #left #textcenter h1{
        font-size: 20vh; */
    /* } */
    /* #main #left #textcenter{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,50%);
    } */
}